<?xml version="1.0"?>
<openbox_menu>
  <menu id="root-menu" label="OpenBox 3">
    <menu id="todo_id" label="Todo" execute="openbox-todo"/>
    <menu id="xdg_menu" label="Applications" execute="cat /var/cache/xdg-menu/openbox/menu.xml"/>
    <menu id="obrowse_id" label="Obrowse" execute="obrowse"/>
    <menu id="sys_menu" label="System" execute="sysinfo.sh"/>
    <item label="Terminal">
      <action name="Execute">
        <command>toggle urxvtq 'urxvtcd -g 113x10+0+0 -name urxvtq'</command>
      </action>
    </item>
    <item label="Htop">
      <action name="Execute">
        <command>toggle htop 'urxvtcd -name htop -e htop'</command>
      </action>
    </item>
    <separator/>
      <menu id="client-list-menu"/>
      <item label="Reconfigure">
        <action name="Reconfigure"/>
      </item>
      <separator/>
      <item label="ObLogout">
        <action name="Execute">
          <command>oblogout</command>
        </action>
      </item>
  </menu>
</openbox_menu>
