<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu>

<menu id="Preferences" label="Preferences">
  <menu id="root-menu-525118" label="Openbox Config">
    <item label="Edit autostart">
      <action name="Execute">
        <command>gvir ~/.config/openbox/autostart</command>
      </action>
    </item>
    <item label="Edit rc">
      <action name="Execute">
        <command>gvir ~/.config/openbox/rc.xml</command>
      </action>
    </item>
    <item label="Edit menu">
      <action name="Execute">
        <command>gvir ~/.config/openbox/menu.xml</command>
      </action>
    </item>
    <item label="GUI Menu Editor">
      <action name="Execute">
        <command>obmenu</command>
      </action>
    </item>
    <item label="GUI Config Tool">
      <action name="Execute">
        <command>obconf</command>
      </action>
    </item>
    <item label="Lx Hot Key">
      <action name="Execute">
        <command>lxhotkey</command>
      </action>
    </item>
    <item label="Ob Apps">
      <action name="Execute">
        <command>obapps</command>
      </action>
    </item>
    <item label="Key Editor">
      <action name="Execute">
        <command>obkey</command>
      </action>
    </item>
    <item label="Reconfigure">
      <action name="Reconfigure"/>
    </item>
    <item label="Restart">
      <action name="Restart"/>
    </item>
  </menu>
  <menu id="root-menu-23433" label="Take Screenshot">
    <item label="Now">
      <action name="Execute">
        <command>scrot &apos;%Y-%m-%d--%s_$wx$h_scrot.png&apos; -e &apos;mv $f ~/ &amp; gpicview ~/$f&apos;</command>
      </action>
    </item>
    <item label="In 5 Seconds...">
      <action name="Execute">
        <command>scrot -d 5 &apos;%Y-%m-%d--%s_$wx$h_scrot.png&apos; -e &apos;mv $f ~/ &amp; gpicview ~/$f&apos;</command>
      </action>
    </item>
    <item label="In 10 Seconds...">
      <action name="Execute">
        <command>scrot -d 10 &apos;%Y-%m-%d--%s_$wx$h_scrot.png&apos; -e &apos;mv $f ~/ &amp; gpicview ~/$f&apos;</command>
      </action>
    </item>
    <item label="Selected Area... (click &amp; drag mouse)">
      <action name="Execute">
        <command>scrot -s &apos;%Y-%m-%d--%s_$wx$h_scrot.png&apos; -e &apos;mv $f ~/ &amp; gpicview ~/$f&apos;</command>
      </action>
    </item>
  </menu>
  <menu id="root-menu-571948" label="tint2 config">
    <item label="Edit tint2rc">
      <action name="Execute">
        <command>gvir ~/.config/tint2/tint2rc</command>
      </action>
    </item>
    <item label="Tint Wizard">
      <action name="Execute">
        <command>tintwizard.py</command>
      </action>
    </item>
  </menu>
  <item label="Input Device Preferences">
    <action name="Execute">
      <command>lxinput</command>
    </action>
  </item>
  <item label="Screen Resolution">
    <action name="Execute">
      <command>arandr</command>
    </action>
  </item>
  <item label="User Interface Settings">
    <action name="Execute">
      <command>lxappearance</command>
    </action>
  </item>
  <item label="Wallpaper">
    <action name="Execute">
      <command>feh -g 640x480 -d -S filename ~/Wallpapers</command>
    </action>s
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <menu id="openbox-menu" label="Applications" execute="/usr/bin/openbox-menu lxde-applications.menu"/>
  <menu id="calendar" label="Calendar" execute="~/.config/openbox/pipemenus/date-menu.sh"/>
  <menu id="netctl" label="Netctl menu" execute="sudo ~/.config/openbox/pipemenus/netctl-list.sh"/>
  <menu id="wirelessPipe" label="Wifi menu" execute="sudo ~/.config/openbox/pipemenus/wifi-pipe.sh wlp4s0"/>
  <menu id="weather" label="Weather" execute="python2 ~/.config/openbox/pipemenus/weathermenu.py 'Wroclaw'"/>
  <menu id="places" label="Places" execute="~/.config/openbox/pipemenus/obpipemenu-places ~/"/>
  <menu id="recent" label="Recent Files" execute="~/.config/openbox/pipemenus/obrecent.sh ~/"/>
  <menu id="Preferences"/>
  <separator/>
  <item label="Exit">
    <action name="Execute">
      <command>oblogout</command>
    </action>
  </item>
</menu>

</openbox_menu>
